<center>
<h1>THIS IS THE CREATURE INDEX PAGE</h1>
<h2>(◟ᅇ)◜(◟ᅇ)◜ Ooh so scary! ◟(ᅇ◜)◟(ᅇ◜)</h2>
<!--

<h3><li></li></h3>



</center>

 -->
<div class="col-md-12">
<table class="table">
	<tr>
		<th>Name:</th>
		<th>Description:</th>
	</tr>
	<% @creatures.each do |creature| %>
	<tr>

	</tr>
	<% end %>
</table>
</div>
<div class="col-md-12">
	<h2>
	</h2>
</div>
